src/*.acn
src/*.pyc
src/*.gz
src/*.acr
src/*.alg
src/*.aux
src/*.bak
src/*.bbl
src/*.bcf
src/*.blg
src/*.brf
src/*.bst
src/*.dvi
src/*.fdb_latexmk
src/*.fls
src/*.glg
src/*.glo
src/*.gls
src/*.idx
src/*.ilg
src/*.ind
src/*.ist
src/*.lof
src/*.log
src/*.lol
src/*.lot
src/*.maf
src/*.mtc
src/*.mtc1
src/*.nav
src/*.nlo
src/*.nls
src/*.out
src/*.pdf
src/*.pyg
src/*.run.xml
src/*.snm
src/*.synctex.gz
src/*.tex.backup
src/*.tex~
src/*.thm
src/*.toc
src/*.vrb
src/*.xdy
src/*.xml
src/*blx.bib
src/.bak 
src/.mtc
build/
